@import url('https://fonts.googleapis.com/css?family=Marcellus&display=swap')

// General variables
$colour-bright: #111111
$colour-bright-complement: #444444
$colour-dark: #fafafa
$colour-dark-complement: #cacaca
$colour-super-dark: #ffffff

::-moz-selection
  background: $colour-bright-complement
  color: $colour-dark

::selection
  background: $colour-bright-complement
  color: $colour-dark

// General overrides
a
  text-decoration: underline

  &:focus
    outline: 1px solid $colour-dark-complement

  &:visited
    color: inherit

body
  background-color: $colour-super-dark
  background-image: url("/jams/scream-solstice/banner.png")
  background-position: center top
  background-repeat: no-repeat
  background-size: contain
  color: $colour-bright
  font-family: 'Marcellus', serif
  font-size: 16px
  margin: 0
  -webkit-overflow-scrolling: touch

footer
  margin: 1em 0
  text-align: center

hr
  border: 0
  border-bottom: 1px $colour-dark-complement solid
  border-top: 1px $colour-super-dark solid
  margin-bottom: 2em

iframe
  &.itch
    display: block
    margin: 1em auto
    max-width: 720px
    width: 100%

img.logo
  height: 1.5em
  padding-right: .1em
  width: 1.5em

#company-name
  font-size: 3em
  margin-top: .5em
  white-space: nowrap
  word-wrap: none 

  a
    align-items: center
    display: flex
    font-size: 1.4em
    font-weight: bold
    padding: 0 4px

  span
    color: $colour-dark
    font-size: .8em
    font-style: italic
    padding-left: .5em

#content
  background-color: rgba(255, 255 ,255, .75)
  border: 1px solid $colour-dark
  box-shadow: 0px 2px 4px rgba(64, 64, 64, .25)
  box-sizing: border-box
  min-height: calc(100vh - 272px)
  padding: 1em

#links
  align-items: center
  justify-content: center
  display: flex
  font-size: 1em
  padding: 8px
  position: relative

  a
    padding: 4px
    text-decoration: none
  
    &:hover
      opacity: .5

    &:active, &:visited
      outline: 1px solid #555

  img
    display: inline
    height: 1.5em
    margin-top: .25em

#navigation-bar
  color: #000

  a
    color: #000

  .wideness-constraint
    align-items: center
    display: flex
    flex-direction: column
    min-height: 64px

.about-page
  .caption
    font-style: italic
    opacity: .75
    text-align: center

  img
    box-sizing: border-box
    display: block
    margin: 0 auto
    padding: 0 1em
    max-width: 100%

.blog
  display: flex
  flex-direction: column

  &-section-title
    font-size: 1.5em
    font-weight: bold
    margin-bottom: .5em

.dark-area
  a
    color: $colour-bright

    &:hover
      color: $colour-bright-complement

.no-select
  -webkit-user-drag: none
  -moz-user-select: none
  -ms-user-select: none
  -webkit-user-select: none 
  user-select: none

.post
  &-content
    font-size: 1.1em
    line-height: 1.5em

    p
      margin: 0
      margin-bottom: 2em
      padding: 0

      img
        display: block
        margin: 0 auto

  &-date
    opacity: .75

  &-tags
    margin-bottom: 2.5em
    opacity: .75

    &:not(:empty)
      margin-top: .5em

    a:not(:last-child)
      margin-right: .5em

  &-title
    font-size: 2em
    font-weight: bold


.post-list
  flex: 1 1
  max-width: 100%;

  img
    max-width: 100%;

  .post
    border: 1px solid #222222
    display: block
    font-size: 1.25em
    padding: .5em
    text-decoration: none

    &:not(:last-child)
      margin-bottom: 1em

    .blurb
      font-size: .8em
      margin-top: .5em

    .date
      font-size: .75em
      opacity: .75

    .title
      font-size: 1.25em

.tag-list
  flex: 0 1
  margin-bottom: 1em
  margin-right: 2em
  min-width: 150px

  a
    display: inline-block
    margin-right: 1em


.wideness-constraint
  margin: 0 auto
  max-width: 1000px

@media(max-width: 640px)
  #company-name
    font-size: calc(48 * 100vw / 640)

  .post-list
    .post
      font-size: 1em

  .tag-list
    display: none