{{ partial "header.html" . }}



<div class="blog">
  <div class="post-list">
    <div class="post-title">{{ .Title }}</div>
    <div class="post-date">Posted on {{ .Date.Format "January 2, 2006 at 15:04" }}</div>
    <div class="post-tags">{{ range ($.Param "tags") }}<a href="/tags/{{ . }}">#{{ . }}</a>{{ end }}</div>
    <div class="post-content">
      {{ .Content }}
      <p>- SCREAM ZONE</p>
    </div>
  </div>
</div>

{{ partial "footer.html" . }}