{{ partial "header.html" . }}

{{/*  {{ .Content }}

<hr />

<div class="game-list">
{{ range .Site.Taxonomies.categories.game }}
  <div class="game">
    <div class="left">
      <div class="game-title">
        <a href={{ .Page.Permalink }}>
          {{ .Page.Params.Title }}
        </a>
      </div>
      <div class="game-date">
        {{ dateFormat "02 Jan, 2006" .Page.Params.Date }}
      </div>
      <div class="game-tagline">
        {{ .Page.Params.Tagline }}
      </div>
    </div>
    <div class="right">
      <img
        class="game-icon"
        src="{{ printf "/png/games/%v/sidebar.jpg" .Page.Params.ID }}"
      />
    </div>
  </div>
{{ end }}
</div>  */}}

<div class="blog">
  <div class="post-list">
    <div class="blog-section-title">Past Jams</div>
    {{ range (.Site.Taxonomies.categories.jam.Pages.ByWeight)}}
      <a class="post" target="_blank" href={{ .Params.Link }}>
        <div class="title" >{{ .Params.Title }}</div>
        <div class="date">Jam: {{ .Date.Format "January 2, 2006 15:04" }}</div>
        <div class="date">Voting: {{ dateFormat "January 2, 2006 15:04" .Params.JamEnd }}</div>
        <div class="date">Results: {{ dateFormat "January 2, 2006 15:04" .Params.VotingEnd }}</div>
        {{/*  <div class="blurb">{{ .Params.Blurb }}.</div>  */}}
      </a>
    {{ end }}
  </div>
</div>

{{ partial "footer.html" . }}