{{ partial "header.html" . }}

<!-- {{ .Content }} -->

<div class="blog">
  {{ partial "tag-list.html" . }}

  <div class="post-list">
    <div class="blog-section-title">Posts</div>
    {{ range (.Site.Taxonomies.categories.post.Pages.ByWeight)}}
      <a class="post" href={{ .Permalink }}>
        <div class="title" >{{ .Params.Title }}</div>
        <div class="date">Posted on {{ .Date.Format "January 2, 2006 at 15:04" }}</div>
        <div class="blurb">{{ .Params.Blurb }}.</div>
      </a>
    {{ end }}
  </div>
</div>

{{ partial "footer.html" . }}