<!DOCTYPE html>
<html>
<head>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-149674106-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-149674106-1');
  </script>

  <meta name="viewport" content="width=device-width, initial-scale=1">
  {{ partial "twitter-card" . }}
  <title>{{ .Title }} : SCREAM ZONE</title>
  {{ $sass := resources.Get "sass/main.sass" }}
  {{ $style := $sass | resources.ToCSS }}
  <!-- <link rel="shortcut icon" type="image/png" href="/favicon.png"> -->
  <link rel="stylesheet" href="{{ $style.Permalink }}" />
</head>
<body>
  <div id="navigation-bar">
    <div class="wideness-constraint">
      <div id="company-name" class="no-select">
        <a href="/">
          SCREAM ZONE
        </a>
      </div>
      <div id="links">
        {{ range .Site.RegularPages }}
            {{ if eq .Type "page" }}
            <a href="{{ .Permalink }}">{{ .Title }}</a>
            {{ end }}
        {{ end }}
        <a href="https://discord.gg/vMVysVJ" target="_blank"><img src="/icons/discord-black.png" /></a>
        <a href="https://twitter.com/screamcatalogue" target="_blank"><img src="/icons/twitter-black.png" /></a>
      </div>
    </div>
  </div>
  <div class="wideness-constraint dark-area" id="content">