<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="@screamcatalogue">
<meta name="twitter:title" content="{{- .Title -}}">
{{ with .Page.Params.blurb }}
  <meta name="twitter:description" content="{{- . -}}">
{{ end }}
<meta name="twitter:image" content="https://scream.zone/social/twitter-card.jpg">
<meta name="twitter:image:alt" content="SCREAM CATALOGUE logo">