{{ partial "header.html" . }}

  <style>
    body {
      max-height: 100vh;
    }
    
    #content {
      background-color: transparent;
      border: 0;
      box-shadow: none;
      display: flex;

      align-items: center;
      justify-content: center;

      padding: 0;
    }

    .scream-jam-promo {
      background-color: #fff;
      border: 2px solid #fafafa;
      box-shadow: 0px 2px 4px rgba(64, 64, 64, .25);
      color: #444;
      font-size: 1.5em;
      margin: 1em;
      max-width: 800px;
      padding: 1em;
      text-align: center;
      width: 100%;
    }

    .scream-jam-promo a {
      background-color: #c6beda;
      color: #000;
      display: inline-block;
      font-size: 1em;
      margin-bottom: 1em;
      padding: .5em 2em;
    }

    .scream-jam-promo a:hover {
      color: #160e2a;
    }

    .scream-jam-promo div {
      padding: 0 1em 1em;
      text-shadow: 0 0 2px #ddd;
    }

    .scream-jam-promo img {
      width: 15em;
    }

    @media (max-width: 640px) {
      .scream-jam-promo {
        font-size: 1em;
      }
    }
  </style>

  <div class="scream-jam-promo">
    <img src="/jams/scream-solstice/logo.png" />
    <div>
      A HORROR GAME JAM BY SCREAM CATALOGUE AND CAVEWARE DIGITAL
    </div>
    <a href="https://itch.io/jam/scream-jam-2019" target="_blank">
      JOIN NOW
    </a>
  </div>

{{ partial "footer.html" . }}